.achievement-common {
  border-color: #d86100 !important;
  background: #fd9744;
  color: #d86100;
}

.achievement-uncommon {
  border-color: #808080 !important;
  background: #cccccc;
  color: #808080;
}

.achievement-rare {
  border-color: #a77d00 !important;
  background: #ffd02a;
  color: #a77d00;
}

.achievement-epic {
  border-color: #638080 !important;
  background: #b9cccc;
  color: #638080;
}

.achievement-legendary {
  border-color: #99c5dc !important;
  background: #d8ebf5;
  color: #99c5dc;
}