.achievement-admin-list {

  tr * {
    vertical-align: middle !important;
  }

  .COMMON {
    color:#de843b;
  }

  .UNCOMMON {
    color:#999;
  }

  .RARE {
    color:#c09c21;
  }

  .EPIC {
    color:#9db3b3;
  }

  .LEGENDARY {
    color:#b7d8e8;
  }

  .COMMON div, .UNCOMMON div, .RARE div, .EPIC div, .LEGENDARY div {
    border-radius:9001px;
    padding:10px;
    overflow:hidden;
    display:inline-block;
    width:40px;
    height:40px;
    text-align:center;
    color:white;
  }

  .COMMON div i, .UNCOMMON div i, .RARE div i, .EPIC div i, .LEGENDARY div i {
    display:inline-block;
    vertical-align:baseline;
  }

  .COMMON div{
    background:#de843b;
  }

  .UNCOMMON div {
    background:#999;
  }

  .RARE div {
    background:#c09c21;
  }

  .EPIC div {
    background:#9db3b3;
  }

  .LEGENDARY div {
    background:#b7d8e8;
  }

}