tr * {
  max-height: 50px !important;
  max-width:150px;
  vertical-align: middle !important;
}

.COMMON {
  color: #DDDDDD;
}

.UNCOMMON {
  color: #1E90FF;
}

.RARE {
  color: #9932CC;
}

.EPIC {
  color: #EAA400;
}

.LEGENDARY {
  color: #C1FF00;
}