select.COMMON, option[value="COMMON"] {
  color: #DDDDDD;
}

select.UNCOMMON, option[value="UNCOMMON"] {
  color: #1E90FF;
}

select.RARE, option[value="RARE"] {
  color: #9932CC;
}

select.EPIC, option[value="EPIC"] {
  color: #333333;
}

select.LEGENDARY, option[value="LEGENDARY"] {
  color: #C1FF00;
}

.iconpicker-container, .iconpicker-popover.popover, .popover-title {
  border:none !important;
  background:transparent !important;
  width:100% !important;
}

.iconpicker-items {
  min-height:0 !important;
  max-height:none !important;
  height:260px;
}

.iconpicker .iconpicker-item {
  margin:0 11px 11px 0 !important;
}