select.COMMON, option[value="COMMON"] {
  color:#de843b;
}

select.UNCOMMON, option[value="UNCOMMON"] {
  color:#999;
}

select.RARE, option[value="RARE"] {
  color:#c09c21;
}

select.EPIC, option[value="EPIC"] {
  color:#9db3b3;
}

select.LEGENDARY, option[value="LEGENDARY"] {
  color:#b7d8e8;
}

.iconpicker-container, .iconpicker-popover.popover, .popover-title {
  border:none !important;
  background:transparent !important;
  width:100% !important;
}

.iconpicker-items {
  min-height:0 !important;
  max-height:none !important;
  height:260px;
}

.iconpicker .iconpicker-item {
  margin:0 11px 11px 0 !important;
}

.achievement-preview {
  margin-left:-100px !important;
  width:683px;

  .achievement {
    margin:0;
  }
}

#queryaera {
  width:100%;
  height:100px;
  padding:10px 15px;
  border:1px solid rgb(204, 204, 204);
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
  resize:none;
}