#fishcam {

  margin: 0px auto;

  width: 640px;
  height: 480px;

  background-color: #ff2222;

  color: #ffffff;
  text-shadow: 0 0 10px #333;

  text-align: center;

  padding: 100px 50px 0 50px;

  text-align: justify;

  box-shadow: 0 0 20px -7px #000;

}