a {
	position: relative;
	transition: color 0.3s ease-out;
	color: $primary-color;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

p a,
a.anchor__link {
	&::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 1px;
		background: tint($primary-color, 50);
		content: '';
		opacity: 0;
		transition: opacity 0.3s, transform 0.3s;
		transform: translateY(10px);
	}

	&:hover::after,
	&:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
}

.btn:after,
.social-icons a:after {
	display: none;
}

.anchor__img,
a > img {
	transition: opacity 0.3s;

	&:hover {
		opacity: .8;
	}

	&:after {
		content: none;
	}
}
