.product {

  &__edit {

    &__image {

      height: 200px;
      width: 200px;

      padding: 25px;
      margin: 20px auto 10px;

      border-radius: 100px;
      background-color: #333;

    }

    &__image__inner {

      height: 150px;
      width: 150px;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

    }

  }

}