.product-image {
  width: 90px;
  height: 90px;

  border-radius: 50%;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    max-width: 70%;
    max-height: 70%;
  }

}