.becomeamember {
  &__number {
    font-size: 48px; text-align: center;
  }
  &__description {
    padding: 15px 25px;
  }
  &__done {

  }
  &__done .becomeamember__number {
    font-size: 32px;
  }
  &__done .becomeamember__description > p {
    display: none;
  }
  &__future .becomeamember__number {
    font-size: 32px;
  }
  &__future .becomeamember__description > p {
    display: none;
  }
}