services:
  laravel.test:
    container_name: '${SAIL_CONTAINER_NAME}-app'
    build:
      context: ./vendor/laravel/sail/runtimes/8.2
      dockerfile: Dockerfile
      args:
        WWWGROUP: '${WWWGROUP}'
        MYSQL_CLIENT: mariadb-client
    image: '${SAIL_CONTAINER_NAME}/app'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '${SAIL_APP_PORT:-80}:80'
      - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
    environment:
      WWWUSER: '${WWWUSER}'
      LARAVEL_SAIL: 1
      XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
      XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
    volumes:
      - '.:/var/www/html'
    networks:
      - sail
    depends_on:
      - mariadb
      - mailpit
      - redis
      - selenium
  mariadb:
    container_name: '${SAIL_CONTAINER_NAME}-mariadb'
    image: 'mariadb:10'
    ports:
      - '${SAIL_SQL_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: 'thisisareallystrongpassword123'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    volumes:
      - 'sail-mariadb:/var/lib/mysql'
      - './vendor/laravel/sail/database/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
    networks:
      - sail
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-u${DB_USERNAME}", "-p${DB_PASSWORD}" ]
      retries: 3
      timeout: 5s
  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${SMTP_PORT:-1025}:1025'
      - '${SAIL_MAILPIT_PORT:-8025}:8025'
    networks:
      - sail
  phpmyadmin:
    container_name: '${SAIL_CONTAINER_NAME}-pma'
    image: phpmyadmin
    ports:
      - '${SAIL_PMA_PORT}:80'
    environment:
      - 'PMA_HOST=mariadb'
      - 'PMA_USER=${DB_USERNAME}'
      - 'PMA_PASSWORD=${DB_PASSWORD}'
      - 'PMA_PORT=${SAIL_SQL_PORT}'
      - 'UPLOAD_LIMIT=500M'
    networks:
      - sail
    depends_on:
      - mariadb
  redis:
    image: 'redis:alpine'
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    volumes:
      - 'sail-redis:/data'
    networks:
      - sail
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      retries: 3
      timeout: 5s
  selenium:
    image: selenium/standalone-chromium
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - '/dev/shm:/dev/shm'
    networks:
      - sail
networks:
  sail:
    driver: bridge
volumes:
  sail-mariadb:
    driver: local
  sail-redis:
    driver: local
