parameters:
	ignoreErrors:

		-
			message: '#^Call to an undefined method App\\Console\\ConsoleOutput\:\:info\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/GoogleSync.php

		-
			message: '#^Call to an undefined method Illuminate\\Console\\OutputStyle\:\:task\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/GoogleSync.php

		-
			message: '#^Property Illuminate\\Console\\Command\:\:\$output \(Illuminate\\Console\\OutputStyle\) does not accept App\\Console\\ConsoleOutput\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Console/Commands/GoogleSync.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Member\> is not subtype of native type Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\.$#'
			identifier: varTag.nativeType
			count: 1
			path: app/Http/Controllers/QueryController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:unpayed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/WithdrawalController.php
