includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    level: 1  # out of 9

    ignoreErrors:
        - '#LightSaml#'

    checkMissingIterableValueType: false