parameters:
	ignoreErrors:

		-
			message: '#^Call to an undefined method App\\Console\\ConsoleOutput\:\:info\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/GoogleSync.php

		-
			message: '#^Call to an undefined method Illuminate\\Console\\OutputStyle\:\:task\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/GoogleSync.php

		-
			message: '#^Property Illuminate\\Console\\Command\:\:\$output \(Illuminate\\Console\\OutputStyle\) does not accept App\\Console\\ConsoleOutput\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Console/Commands/GoogleSync.php

		-
			message: '#^Variable \$currentDrink in PHPDoc tag @var does not match any variable in the foreach loop\: \$product$#'
			identifier: varTag.differentVariable
			count: 1
			path: app/Console/Commands/UpdateWallstreetPrices.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Events/StickerPlacedEvent.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Member\> is not subtype of native type Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\.$#'
			identifier: varTag.nativeType
			count: 1
			path: app/Http/Controllers/QueryController.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/StickerController.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: app/Http/Controllers/StickerController.php

		-
			message: '#^Parameter \#1 \$model of method Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User,App\\Models\\Sticker\>\:\:associate\(\) expects App\\Models\\User\|int\|string\|null, Illuminate\\Contracts\\Auth\\Authenticatable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/StickerController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Models\\User\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Http/Controllers/StickerController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:unpayed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/WithdrawalController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\Relation\<\*, \*, \*\>\:\:unpayed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/WithdrawalController.php

		-
			message: '#^Property ''welcome_message'' does not exist in model\.$#'
			identifier: rules.modelAppends
			count: 1
			path: app/Models/User.php
