.album {
  position: relative;
  width: 100%;
  height: 200px;

  background-color: #666;
  background: linear-gradient(to bottom right, #333, #666);
  background-size: cover;
  background-position: center center;

  margin-bottom: 30px;
}

.album-name {
  position: absolute;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 30px;
}

.album-link,
.photo-link,
.album-hidden {
  text-decoration: none;

  .album,
  .photo {
    transition: all 0.1s;
  }

  &:hover {
    .album,
    .photo {
      transform: scale(1.05, 1.05);
    }
  }

  &:after {
    content: none;
  }
}

.album-hidden {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  opacity: 0.2;

  line-height: 150px;
  text-align: center;
  font-size: 120px;

  color: #fff;
}

.photo {
  position: relative;
  width: 100%;
  height: 200px;

  background-color: #666;
  background: linear-gradient(to bottom right, #333, #666);
  background-size: cover;
  background-position: center center;

  margin-bottom: 30px;
}

.photo-name {
  position: absolute;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 30px;
}

.photo-hidden {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  opacity: 0.2;

  line-height: 150px;
  text-align: center;
  font-size: 120px;

  color: #fff;
}

.photo__hidden {
  position: absolute;
  top: 0;
  right: 0;

  margin: 10px;

  text-shadow: 0 0 5px #000;
  color: #fff;
}

.photo-hidden:hover {
  text-decoration: none;
}


.chocolat-wrapper {
  z-index: 10000;
}
