.main__header {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow:auto;
}

.main__header .container {
    color: #fff !important;
    text-align: center;
    width: 100%;
    border-top:5px solid #7fba00;
    margin-top:50px;
    background-color:#121212;
    padding:14px;
}

.main__header .container h1 {
    font-weight: 300;
    margin-bottom:0;
}

[class="template-website.home.external"],
[class="template-website.home.members"] {
    .main__header {
        height: 20rem;
        margin-bottom: 0;
    }
}
