.main__header {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 3.5rem;
    margin-bottom: 4rem;
    border-bottom: 5px solid $proto-darker;
}

.main__header .container {
    color: #fff !important;
    padding-top: 4rem;
    text-align: center;
}

.main__header .container h1 {
    font-weight: 300;
}

[class="template-website.home.external"],
[class="template-website.home.members"] {
    .main__header {
        height: 20rem;
        margin-bottom: 0;
    }
}
