#qq_bigquote {
  font-size: 50px;
  position: relative;
}

#qq_bigquote::before {
  content: "“";
  position: absolute;
  top: 0;
}

#qq_bigquote::after {
  content: "”";
  position: absolute;
  bottom: 0;
}

#qq_bigquote * {
  display: inline-block;
  word-wrap: break-word;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-right: 15px;
  max-width: 100%;
}

#qq_bigquote div {
  max-width: calc(100% - 18px);
}

.qq_timestamp {
  color: #ccc;
  margin-left: 5px;
  font-size: 12px;
}

#qq_latest h4 {
  word-wrap: break-word;
}

.qq_like {
  float: left;
  color: #ccc;
  cursor:pointer;
}

.qq_like i {
  font-size: 25px;
  margin-right: 5px;
  color: #ccc;
}

.qq_liked {
  color: #7FBA00 !important;
}