$proto-darker:     #7fba00;

$primary-color:    #7fba00;
$secondary-color:  #333;

$background-lighter: #242424;
$background-color: #121212;

$text-color:       #000;

/**
 * Base stuff
 */
$base-font-size:    16px!default;
$base-line-height:  24px!default;

$border-radius:     2px;

/**
 * Base font-family.
 */
$base-font-family:  sans-serif!default;

/**
 * Default colour for objects’ borders etc.
 */
$base-ui-color:     #ccc!default;

$base-spacing-unit: $base-line-height!default;
$spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;
