#photoadmin__droparea {
  display: none;
  z-index: 99999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  background: rgba(200,200,200,0.5);
  color: white;
}

#photoadmin__droparea * {
  pointer-events: none;
}

#photoadmin__droparea__content {
  font-size: 5rem;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.photo-select input{
  display: none;
}

.photo-select .card label, .photo-select .card {
  //display: block;
  //position: relative;
  cursor: pointer;
  transition: .2s;
}

.photo-select .card label {
  margin-bottom: 0;
}

.photo-select .card:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid $blue;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.2s;
  transform: scale(0);
  z-index: 10;
}

.photo-select input:checked + .card:before {
  content: "✓";
  background-color: $blue;
  transform: scale(1);
}

.photo-select input:checked + .card{
  transform: scale(0.9);
}