Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://discordapp.com/api/guilds/600338792766767289/widget.json https://analytics.saproto.nl/piwik.js https://www.youtube.com/iframe_api https://s.ytimg.com; object-src 'none'; script-src-elem 'self' https://www.google.com/recaptcha/api.js https://www.gstatic.com/recaptcha/releases/; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/css; img-src * data:; media-src 'self' https://static.saproto.com; frame-src https://www.youtube.com/embed https://www.google.com/recaptcha/ https://recaptcha.google.com/recaptcha/; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' https://proto.utwente.nl https://www.proto.utwente.nl https://static.saproto.com https://metis.proto.utwente.nl:3001 wss://metis.proto.utwente.nl:3001 ws://localhost:3000 https://discordapp.com/api/guilds/600338792766767289/widget.json; frame-ancestors 'none'"
Header set X-Content-Type-Options nosniff

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
