Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://discordapp.com/api/guilds/600338792766767289/widget.json https://analytics.saproto.nl/piwik.js; object-src 'none'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/css; img-src * data:; media-src 'self'; frame-src 'none'; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' https://discordapp.com/api/guilds/600338792766767289/widget.json; frame-ancestors 'none'"

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
