$photo_pop-color: #222 !default;
$photo_pop-text-shadow: 0 0 2px #000 !default
$photo-color: #fff !default;
$photo-hover-color: #222 !default;
$photo-text-shadow: 0 0 2px #000 !default;
$photo-gradient: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)) !default;

.photo_pop {
  color: $photo_pop-color;
  background-size: cover;
  background-position: center center;
  height: 100px;
}

.photo {
  color: $photo-color;
  background-size: cover;
  background-position: center center;
  height: 100px;
}

.photo::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: $photo-gradient;
  content: '';
}

.photo_pop:hover {
  color: $photo_pop-color;
  text-shadow: $photo_pop-text-shadow;
}

.photo:hover {
  color: $photo-color;
  text-shadow: $photo-text-shadow;
}