.profile__photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
}

.profile__photo-wrapper {
    text-align: center;
    display: block;
}
