.profile__photo {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    text-align: center;
    background-color: $primary-color;
}

.profile__photo--small {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: -.5rem 0;
}

.profile__photo-wrapper {
    text-align: center;
    display: block;
}
