$primary: #83b71a;

$brand-primary: $primary;
$success: #00aac0;
$info: $success;
$warning: #f37e16;
$danger: #C50005;

$body-bg: #000 !important;

$link-color: darken($info, 10%);
$navbar-dark-color: rgba(255, 255, 255, .75);
$navbar-dark-hover-color: #fff;

@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;