// Make sure the charset is set appropriately
@charset "UTF-8";

@import 'bootstrap';
@import 'fontawesome';
@import 'components';


*:not(.box) {
  font-family: 'Comic Sans MS',Arial;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}


.box {
  pointer-events: none;
  position: absolute;
  animation: rotate 2.5s infinite linear;
  margin: 0;
  overflow: hidden;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

