@charset "UTF-8"; // Make sure the charset is set appropriately

// Custom variables
@import 'variables';
@import 'dark-theme';

@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;
@import 'node_modules/bootstrap/scss/bootstrap';

// FontAwesome
$fa-font-path: 'fonts/';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';

// concatenated SCSS from views
@import 'components';