@charset "UTF-8";

// Custom variables
@import "partials/variables";

//background colour
$body-bg: #f3f3f3;

$light: #fff;

//links
$link-color: $info;
$link-hover-color: lighten($info, 10%);

//import bootstrap after setting variables
@import "bootstrap";

// Vendors (S)CSS
@import "partials/vendors";

// concatenated SCSS from views
@import "partials/components";

.select2-dropdown {
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

//buttons
.btn.lampOn:hover {
    background: $primary;
    border-color: $primary;
}

.btn.lampOff:hover {
    background: $warning;
    border-color: $warning;
}
