//background colour
$body-bg: #f1f1f1;

//select2
.select2-dropdown {
  background-color: #fff !important;
  border: 1px solid rgba(0,0,0,.125) !important;
}
.select2-container {
  width: 100% !important;
}

.select2-selection__rendered {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.select2-search {
  width: 100%;
}

.select2-search__field {
  width: 100% !important;
  height: calc(1.5em + .75rem + 2px) !important;
  padding: .375rem .75rem !important;
  border-radius: .25rem !important;
  border: solid #aaa 1px !important;
}

.select2-selection__choice__remove {
  margin-left: 10px;
  margin-right: 2px;
  color: $warning;
}

//buttons
.btn.lampOn:hover {
  background: $primary;
  border-color: $primary;
}

.btn.lampOff:hover {
  background: $warning;
  border-color: $warning;
}

//links
$link-color: $info;
$link-hover-color: lighten($info, 10%);

.modal {
  display: block;
}