.dashboard {
  &__divider {
    text-align: center;

    font-weight: 400;
    color: #A5A5A5;
    margin-bottom: 15px;
    // text-shadow: 0 0 20px #000;

    // border-bottom: 5px solid $brand-primary;
    //

    // padding-bottom: 15px;
    //
    // margin-top: 35px;
    // padding-top: 15px;
    //
    // background-color: rgba(0, 0, 0, 0.5);
    // box-shadow: 0 0 20px -7px #000;
  }
}
