.navbar {
    transition: all 0.5s;
    text-shadow: 0 0 5px #000;

    .dropdown-menu {
        text-shadow: none;
    }
}

$navbar-dark: rgba(0,0,0,.85);

.navbar-scroll {
    background-color: $navbar-dark;
}

@media only screen and (max-width : 768px) {
    .navbar {
        background-color: $navbar-dark;
    }
}

.navbar-title, .navbar-title:hover, .navbar-title:active {
    background-color: transparent !important;
    font-style: italic;
}

.navbar-search {
	outline: none;
}
.navbar-search {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.navbar-search::-webkit-search-decoration,
.navbar-search::-webkit-search-cancel-button {
	display: none;
}

.navbar-search {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 98px;

    margin-right: 15px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.navbar-search:focus {
	width: 224px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


.navbar-search input:-moz-placeholder {
	color: #999;
}
.navbar-search input::-webkit-input-placeholder {
	color: #999;
}
