.navbar {
    transition: all 0.5s;
    text-shadow: 0 0 5px #000;

    .dropdown-menu {
        text-shadow: none;
    }
}

$navbar-dark: rgba(0,0,0,.85);

.navbar-scroll {
    background-color: $navbar-dark;
}

@media only screen and (max-width : 768px) {
    .navbar {
        background-color: $navbar-dark;
    }
}

.navbar-title, .navbar-title:hover, .navbar-title:active {
    background-color: transparent !important;
    font-style: italic;
}

.navbar-search {
	outline: none;
}
.navbar-search {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.navbar-search::-webkit-search-decoration,
.navbar-search::-webkit-search-cancel-button {
	display: none;
}

.navbar-search {
    background-color: transparent;
	background: #fff url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	width: 98px;

    margin-right: 15px;

    white-space: nowrap;
    padding: 6px 12px 6px 32px;
    font-size: 14px;
    line-height: 1.428571429;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s !important;
	-moz-transition: all .5s !important;
	transition: all .5s !important;

    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.navbar-search:focus {
	width: 224px;
	background-color: #fff;
	border-color: #66CC75;

    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}


.navbar-search input:-moz-placeholder {
	color: #999;
}
.navbar-search input::-webkit-input-placeholder {
	color: #999;
}
