@import url('https://fonts.googleapis.com/css?family=Lato');
$font-family-sans-serif: 'Lato', sans-serif;

$primary: #83b71a !default;
$brand-primary: $primary !default;

$success: #00aac0 !default;
$info: $success !default;

$warning: #f37e16 !default;
$danger: #C50005 !default;