.main-footer {
  position: relative;
  margin-top: -120px;
  min-height: 120px;
  clear: both;
  background-color: #000;
  color: #fff;

  @media only screen and (min-width: 768px) {
    .footer__logo {
      text-align: right;
    }
  }

  .row > * {
    padding-top: 20px;
  }
}

.large-emoji {
  font-size: 90px;
}
