@charset "UTF-8";

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #121212;
}

html {
  box-sizing: border-box;
  font: 16px sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 120px; /* this needs to be bigger than footer height*/
}

.main-footer {
  position: relative;
  margin-top: -120px;
  min-height: 120px;
  clear: both;
  background-color: #000;
  color: #fff;

  @media only screen and (min-width: 768px) {
    .footer__logo {
      text-align: right;
    }
  }

  .row > * {
    padding-top: 20px;
  }
}

.large-emoji {
  font-size: 90px;
}
