.search {

  &__href {

    color: #333;
    text-decoration: none;

    &:hover {

      color: #333;
      text-decoration: none;

    }

  }

  &__card {

    height: 200px;
    overflow: hidden;
    box-shadow: 0 0 20px -7px #000;
    position: relative;
    padding: 10px;
    transition: all 0.2s;
    background: #eee;

    &:hover {
      transform: scale(1.05, 1.05);
    }

    &__photo {
      height: 75%;
      border-top-left-radius: 30px;
      box-shadow: 0 0 20px -7px #000;
      position: absolute;
      right: 0;
      bottom: 0;
    }

  }
}