@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}

body {
	font-weight: 400;
	@include font-size(16px);
}

strong,
.strong,
%strong,
b {
	font-weight: 600;
}

em,
.italic,
%italic,
i {
	font-style: italic;
}

.lede,
%lede,
.lead,
%lead {
    @include font-size(18px, false);
	line-height: 1.8;
}

small,
.small,
%small {
    font-size: 12px;
    font-size: 0.75rem;
}

p,
.paragraph,
%paragraph {
    @include font-size(16px, false);
	line-height: 1.8;
}

h1,
.alpha,
%alpha,
h2,
.beta,
%beta,
h3,
.gamma,
%gamma {
    font-weight: 300;
    letter-spacing: -0.01em;
}

h4,
.delta,
%delta,
h5,
.epsilon,
%epsilon,
h6,
.zeta,
%zeta {
	font-weight: 400;
	letter-spacing: -0.01em;
}
