$event-gradient: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)) !default;
$event-bg: #eee !default;

.event::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: $event-gradient;
  content: '';
  z-index: 0;
}

.event.no-img {
  background: $event-bg;
}

.event * {
  position: relative;
  z-index: 1;
}

.event p {
  margin: 0;
  float: right;
}