$event-gradient: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)) !default;
$event-hover-gradient: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)) !default;
$event-bg: #eee !default;
$event-hover-bg: #aaa !default;

.event::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: $event-gradient;
  content: '';
  z-index: 1;
}

.event:hover.event::after {
  background-image: $event-hover-gradient;
}

.event.no-img {
  background: $event-bg;
}

.event.no-img:hover {
  background: $event-hover-bg;
}

.event * {
  position: relative;
  z-index: 2;
}

.event p {
  margin: 0;
}

@include media-breakpoint-down("lg") {
  #archive-bar {
    overflow-x: auto;
  }
}