metadata_dir = "/var/lib/meta"
data_dir = "/var/lib/data"
db_engine = "sqlite"

replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "localhost:3901"
rpc_secret = "cd95617715488a61a6fff78fede88ea60b950a4e0358919715528491ab5016a3"

[s3_api]
s3_region = "garage"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage.localhost"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage.localhost"
index = "index.html"

[k2v_api]
api_bind_addr = "[::]:3904"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "mRkUiv9fGPDO+cLWOz8NnTudh8RuxxfSMl3BeoU9Wvg="
metrics_token = "Dw0pHDPBik+2N+SD8+r9/CitqSCz9Pa1Wz5KbhbCvJU="
