.courses {
  &__title {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 20px #000;

    border-bottom: 5px solid $brand-primary;

    margin-bottom: 15px;
    padding-bottom: 15px;

    margin-top: 35px;
    padding-top: 15px;

    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px -7px #000;
  }
}