.homepage {

  &__companyimage {
    margin: 0 20px;
  }

  &__companyrow {
    position: relative;

    background-color: #fff;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 20px -7px #000;
    height: 100px;

    overflow: hidden;

    &__inner {
      position: absolute;
      top: 0;
      left: 0;

      padding: 0 20px;

      height: 100px;
      line-height: 100px;

      min-width: 100%;
      text-align: center;

      transition: all 7.5s;

      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__calendar {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
  }

  &__calendar:hover {
    max-height: none;
  }
}
