
.media__icon {
    background-color: $proto-darker;
    text-align: center;
    color: #fff;
    padding: .5rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: block;
}

.homepage {

    .main__header .container {
        margin-top: 6rem;
    }

  &__companyimage {
    margin: 0 20px;
  }

  &__companyrow {
    position: relative;

    background-color: #fff;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 20px -7px #000;
    height: 100px;

    overflow: hidden;

    &__inner {
      position: absolute;
      top: 0;
      left: 0;

      padding: 0 20px;

      height: 100px;
      line-height: 100px;

      min-width: 100%;
      text-align: center;

      transition: all 7.5s;

      white-space: nowrap;
      overflow: hidden;
    }
  }

  // &__calendar {
  //   min-height: 300px;
  //   max-height: 300px;
  //   overflow: hidden;
  // }
  //
  // &__calendar:hover {
  //   max-height: none;
  // }
}

.carousel {
    background: #fff;

    i {
        margin-top: 5rem;
    }

    .item {
        border-radius: 3px 0 0 3px;
        overflow: hidden;
    }

    .carousel-caption {
        left:0;
    	right:0;
    	bottom:0;
    	text-align:left;
    	padding:10px;
    	background:rgba(0,0,0,0.6);
    	text-shadow:none;
    }

    .list-group {
    	position: absolute;
        background-color: #fff;
        transition: all 0.3s ease-out;
    	top:0;
    	right:0;
        width: 50%;
        border-color: #eee;
    }
    .list-group-item {
    	border-radius:0px;
    	cursor:pointer;
    }
    .list-group .active {
        transition: all 0.3s ease-out;
    	background-color: $primary-color;
        border: none;
    }
}

@media (min-width: 992px) {
	#myCarousel {padding-right:50%;}
	#myCarousel .carousel-controls {display:none;}
}
@media (max-width: 991px) {
	.carousel-caption p,
	#myCarousel .list-group {display:none;}
}
