.homepage {

  &__companyimage {
    max-width: 100%;
    max-height: 100px;
  }

  &__companyrow {
    background-color: #666;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 20px -7px #000;
  }

  &__companyentry {
    height: 130px;
    line-height: 130px;
  }

  &__calendar {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
  }

  &__calendar:hover {
    max-height: none;
  }
}