name: main.yml
on:
    pull_request:
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    changes:
        runs-on: ubuntu-latest
        outputs:
            php: ${{ steps.filter.outputs.php }}
            js: ${{ steps.filter.outputs.js }}
        steps:
            - uses: actions/checkout@v4
            - uses: dorny/paths-filter@v3
              id: filter
              with:
                  filters: |
                      js: ['resources/**', 'package-lock.json', 'vite.config.js']
                      php: ['**.php', 'composer.lock']

    php-fixer:
        needs: changes
        #if: needs.changes.outputs.php == 'true'
        uses: ./.github/workflows/fix-php.yml

    static-analysis:
        needs: [php-fixer]
        #if: needs.changes.outputs.php == 'true'
        uses: ./.github/workflows/static-analysis.yml

    js-fixer:
        # needs to wait on php-fixer for the .ts definitions generated by wayfinder
        needs: [changes, php-fixer]
        #if: needs.changes.outputs.js == 'true' || needs.changes.outputs.php == 'true'
        uses: ./.github/workflows/lint-and-build-frontend.yml

    pest-tests:
        needs: [js-fixer, changes, php-fixer]
        #if: needs.changes.outputs.js == 'true' || needs.changes.outputs.php == 'true'
        uses: ./.github/workflows/run-pest-tests.yml
